/.idea
/socialnetwork-profile-service/
/socialnetwork-user-service/
/socialnetwork-service-discovery/
/socialnetwork-api-gateway/
/socialnetwork-auth-service/
/socialnetwork-app-client/.vscode
/socialnetwork-app-client/node_modules