/.idea
/socialnetwork-app-client/node_modules
/socialnetwork-app-client/.vscode
/socialnetwork-service-discovery/
/socialnetwork-api-gateway/
/socialnetwork-config-server/
/socialnetwork-auth-server/
/socialnetwork-user-service/
/socialnetwork-profile-service/
/socialnetwork-integration-testing/
/socialnetwork-unit-testing/
/socialnetwork-service-discovery/target
/socialnetwork-api-gateway/target
/socialnetwork-config-server/target
/socialnetwork-auth-server/target
/socialnetwork-profile-service/target
/socialnetwork-user-service/target
/socialnetwork-integration-testing/target
/socialnetwork-unit-testing/target