.avatar-profile {
    display: block;
    margin: 10px;
    padding: 9px;
    width: 296px;
    background-color: #ffffff;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
}

.avatar-profile img {
    display: block;
    margin: 4px auto;
    margin-bottom: 12px;
    width: 268px;
    border-radius: 5px;
    border: 1px solid #a5a5a5;
}