.avatar-profile {
    text-align: center;
    margin-top: 16px;
}

.avatar-profile .avatar-image {
    width: 350px;
    height: 450px;
    border-radius: 5px;
    border: 1px solid #a5a5a5;
    margin-bottom: 16px;
}
