/* AdminHeader.css */

.admin-header {
    background-color: #000 !important;
    color: #fff !important;
}

.admin-header .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-header .title {
    font-size: 1.5rem;
    font-weight: bold;
}

.admin-profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.admin-profile .username {
    margin-left: 10px;
    font-weight: bold;
}

.menu-item {
    color: #000;
}