.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    color: #000;
}

.monthly-registered-users {
    width: 100%;
    margin-bottom: 20px;
}

.profile-panel {
    width: 100%;
}
