.profile {
    display: flex;
    width: 100%;
}

.profile .disabled {
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
}

.profile .profile-column {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #ffffff;
    min-height: 100vh;
}
